<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Agario</title>
    <link rel="stylesheet" href="/end.css">
</head>
<meta charset="UTF-8">
<body onload = "loadPlayers();">
<header>
    <h1 align = "center" style="color:deeppink">Welcome to Agario</h1>
    <hr/>
</header>
<section>


<h2 id="player1" class="id" style="color:red"> Eat as much as you can!</h2>
</section>


<h3 id="player2" class="id" style="color:blueviolet">May the biggest blob survive</h3>

<div class="grid">
    <div class="sub-grid" id="field">
        <canvas id = "board"></canvas>
        <canvas id = "misc"></canvas>
        <canvas id = "player"></canvas>
    </div>
</div>
<div class="grid1">
    <div class="sub-grid1" id="sf">
        <h4> Leaderboard:</h4>
        <div id="players"></div>
    </div>
</div>
<div class = "text">
    <b>Nickname:<br></b>
    <p> </p>
    <input type="text" id = "nick" maxlength = "15">
    <button type="button" id = "start">Start Game</button>
</div>
<div class="grid2">
    <div class="sub-grid2" id="df">
        <section>
        <h4> Description:</h4>
            <h3 style = "color:black"> The objective of the game is to eat your way through victory. Each player will start off as a small blob and try to
            become bigger through eating blobs smaller than them.The biggest blob after a set amount of time will be declared the winner.</h3>
        </section>
    </div>
</div>
<div class="blob">
    <img src= "https://img.icons8.com/color/48/000000/booger.png" alt = "dsa" width = "150" length = "100">
</div>

</body>

<script src = "/TempGame.js"></script>

</html>